{% extends "main.html" %}

{% block content %}


<h2>{{ alert.alert_nm }}</h2>
<p>{{ alert.alert_desc }}</p>

<a class="ui {{alert.status_color}} label">{{ alert.status_nm }}</a>


<div class="ui form">
    <div class="field">
        <label>Notes</label>
        <textarea>{{ alert.notes }}</textarea>
        <div class="ui submit button">Update</div>
    </div>
</div>


<h3>Last Three Events</h3>
<table class="ui celled padded table">
    <thead>
        <tr>
        <th>Status</th>
        <th>Post Time</th>
        </tr>
    </thead>
    <tbody>
        {% for alert in alerts %}
        <tr>
            <td><a class="ui {{alert.status_color}} label">{{ alert.status_nm }}</a></td>
            <td>{{ alert.post_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="history?alert={{alert.alert_nm}}">See all history</a>

{% endblock %}