{% extends "main.html" %}

{% block content %}

<a href="alertpage?alert={{alert}}"><h2 style="color:black">{{ alert }}</h2></a>

<h3>All History</h3>
<table class="ui celled padded table">
    <thead>
        <tr>
        <th>Status</th>
        <th>Post Time</th>
        <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for alert in alerts %}
        <tr>
            <td><a class="ui {{alert.status_color}} label">{{ alert.status_nm }}</a></td>
            <td>{{ alert.post_time }}</td>
            <td>{{ alert.notes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}